.container {
  margin: 20px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
  background-color: white;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #1DCAFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

p{
  font-size: 1.5em;
  line-height: 1.5em
}

h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

#cat{
  display:none;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.tweet-box{
  border:1px solid gray;
  padding: 10px;
  margin:10px;
  width:40%;
  float: left;
  background-color: #fefefe;
}

form label{
  font-size: 4em;
  display: inline-block;
  /*padding-top: 20px;*/
  /*line-height: 40px;*/
  margin: 0;
}

#handle{
  margin: 0;
  line-height: 55px;
  font-size: 3em;
  width:70%;
  height:70px;
  font-family: 'Oswald', sans-serif;
}

.twitterfy{
  color:#1DCAFF;
  text-shadow: 1px 2px gray;

}

#submit{
  float:right;
  margin:0;
  padding: 0;
  line-height:40px;
  height:40px;
  background-color:#1DCAFF;
  color:white;
  border-radius: 4px;
  border: none;
  padding: 10px;
  box-shadow: 10px gray;
}
footer {
  text-align: center;
  color: white;
  font-weight: bold;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.ui-menu-item > a.ui-corner-all {
  display: block;
  font-size: 40px;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 40px;
  color: #1DCAFF;
  white-space: nowrap;
}
#ui-active-menuitem, a.ui-state-hover, a.ui-state-highlight {
  color: white;
  text-decoration: none;
  background-color: #00acee;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-helper-hidden-accessible{
  display: none;
}

#sidebar{
  width:200px;
  height:100%;
  position:fixed;
  left:0;
  background-color: rgba(255, 255, 255. .8);

}

#sidebar #mentioned {
  border: 1px solid white;
  padding:5px;
  background-color: gray;
  background-color: #1DCAFF;
  border-radius: 10px;
}