<h1>Enter <span class="twitterfy">Twitter</span> handle for recent tweets.</h1>
<form action="/tweetfinder" method="post">
  <label for="user_name">@</label>
  <input id="handle" type="text" name="user_name" placeholder="Enter a Twitter Username here!">
  <input id="submit" type="submit" value="SUBMIT">
</form>
<div class="gallery">
  <img id="cat" src="/cat.gif">
  </div>
