<h1>Enter Twitter handle for recent tweets.</h1>
<form action="/tweetfinder" method="post">
  <label for="user_name">@</label>
  <input type="text" name="user_name" placeholder="handle">
  <input type="submit" value="SUBMIT">
</form>
<div class="gallery">
  <img id="cat" src="/cat.gif">
  </div>
